<div mat-dialog-title>
    Información de la base de datos
</div>
<div mat-dialog-content>
    <ng-container>
        <form class="form" [formGroup]="formGroup">
            <input formControlName="Id" type="hidden" *ngIf="formType === 2">
            <input formControlName="CompanyId" type="hidden">
            <mat-form-field class="with-100">
                <mat-label>Nombre de la base de datos</mat-label>
                <input matInput formControlName="DatabaseName" required>
            </mat-form-field>
            
            <mat-form-field class="with-100">
                <mat-label>Servidor</mat-label>
                <mat-select formControlName="ServerId" required>
                    <mat-option *ngFor="let server of servers" [value]="server.Id">
                        {{server.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </ng-container>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Cerrar</button>
    <button mat-raised-button color="primary" (click)="saveChanges()">Guardar cambios</button>
</div>
