.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  position: relative; right: 30.5%
}

.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}