<div class="card" style="overflow-x: hidden">
  <div class="row">
    <div class="col-lg-12 col-md-12 col2card">
      <div class='row'>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div style="display: flex" class="justify-content-end">
            <div style="margin-left:auto; margin-right: 10px;">
              <mat-form-field class="mat-form-field">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)">
              </mat-form-field>
              <button mat-raised-button (click)="exportAll()" matTooltip="Excel - todos los datos (.xlsx)"
                mat-raised-button style="cursor: pointer;" color="primary">
                <img src="../../assets/img/xlsiconwhite.png" width="30" height="30">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table mat-table class="full-width-table" matSort [dataSource]="dataSource">
        <ng-container matColumnDef="invoicing_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de facturación</th>
          <td mat-cell *matCellDef="let row">{{ row.CreatedAt }}</td>
        </ng-container>
    
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
          <td mat-cell *matCellDef="let row">{{row.CompanyName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="active_employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon aria-hidden="false" style="color:black">person_add</mat-icon>
          </th>
          <td mat-cell *matCellDef="let row">{{row.TotalActiveEmployees}}</td>
        </ng-container>
    
        <ng-container matColumnDef="inactive_employee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <fa-icon [icon]="farUser" style="color:black; font-size: 17.5px;"></fa-icon>
          </th>
          <td mat-cell *matCellDef="let row">{{row.TotalInactiveEmployees}}</td>
        </ng-container>
    
        <ng-container matColumnDef="active_branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon aria-hidden="false" style="color: black;">business</mat-icon>
          </th>
          <td mat-cell *matCellDef="let row">{{row.TotalActiveBranches}}</td>
        </ng-container>
    
        <ng-container matColumnDef="inactive_branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon aria-hidden="false">business</mat-icon>
          </th>
          <td mat-cell *matCellDef="let row">{{row.TotalInactiveBranches}}</td>
        </ng-container>
    
        <ng-container matColumnDef="customer_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row" >
            <span [appCustomerInformationForInvoicing]="row" #status="appCustomerInformationForInvoicing" [matTooltip]="status.tooltip"></span>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="invoicing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Facturado</th>
          <td mat-cell *matCellDef="let row"><b> {{row.Invoiced }}</b></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div *ngIf="noData | async" class="no-records">No se encontraron registros</div>

      <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
  
</div>
