<div mat-dialog-title>
    Calcular monto a facturar
  </div>
<div mat-dialog-content>
    <ng-container>
        <form class="form" [formGroup]="formGroup">
            <mat-form-field style="width: 100%;">
                <mat-label>UF</mat-label>
                <input currencyMask matInput 
                formControlName="uf" [options]="{ prefix: '$ ', thousands: '.', decimal: ',', precision: '2' }">
            </mat-form-field>
        </form>
    </ng-container>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClose()">Cancelar</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="saveInvoicing()">Procesar</button>
</div>
