<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 ml-auto mr-auto">
                    <mat-card>
                        <mat-card-title>Facturación Izytimecontrol</mat-card-title>
                        <mat-card-content>
                            <form class="form" [formGroup]="formLogin" #loginForm="ngForm" (ngSubmit)="OnSubmit()">
                                <div class="card card-login card-hidden">
                                    <div class="card-body" style="padding-left: 30px;">
                                        <div *ngIf="isLoginError" class="red-text center error-message">
                                            <div style="display: flex">
                                                <i class="material-icons">error</i>
                                                <p style="font-size: 13px; margin-left: 15px;">Nombre de usuario o contraseña
                                                    incorrecto.</p>
                                            </div>
                                        </div>
                                        <mat-form-field>
                                            <mat-label>Email...</mat-label>
                                            <input matInput placeholder="Ingrese email..." type="email" formControlName="userName"
                                                [ngClass]="{ 'is-invalid': submitted }">
                                            <mat-icon matPrefix class="my-prefix">email</mat-icon>
                                            <mat-error *ngIf="formLogin.invalid">{{getErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Contraseña...</mat-label>
                                            <input matInput placeholder="Ingrese Contraseña..." [type]="hide ? 'password' : 'text'"
                                                formControlName="password" [ngClass]="{ 'is-invalid': submitted  }">
                                            <mat-icon matPrefix class="my-prefix">lock_outline</mat-icon>
                                            <mat-icon matSuffix (click)="hide = !hide">
                                                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-error *ngIf="formLogin.get('password').hasError('required')">Contraseña es
                                                requerida</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="card-footer justify-content-center button">
                                        <button mat-raised-button color="primary" type="submit" [disabled]="inProcess" align="end">
                                            {{loginButtonText}}
                                            <i *ngIf="inProcess" class="fa fa-refresh fa-spin ml-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        </div>
</div>


