<div class="card" style="overflow-x: hidden">
  <div class="row">
    <div class="col-lg-12 col-md-12 col2card">
      <div class='row'>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div style="display: flex" class="justify-content-end">
            <div style="margin-left:auto; margin-right: 10px">
              <mat-form-field class="mat-form-field">
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)">
              </mat-form-field>
              <button mat-raised-button (click)="exportAll()" matTooltip="Excel - todos los datos (.xlsx)"
                mat-raised-button style="cursor: pointer;" color="primary">
                <img src="../../assets/img/xlsiconwhite.png" width="30" height="30">
              </button>
              <button mat-raised-button matTooltip="Registrar empresa"
                mat-raised-button style="cursor: pointer;" color="primary" (click)="openCreateCompanyDialog()">
                <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table mat-table class="full-width-table" matSort [dataSource]="dataSource">
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
          <td mat-cell *matCellDef="let row">{{row.Name}}</td>
        </ng-container>
        
        <ng-container matColumnDef="activation_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de activación</th>
          <td mat-cell *matCellDef="let row">{{ row.ActivationDate | date:'dd-MM-yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor fijo</th>
          <td mat-cell *matCellDef="let row">{{row.Value == 0 || row.Value == null ? '-' : row.ValueWithFormat}}</td>
        </ng-container>

        <ng-container matColumnDef="casino_value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor para casinos</th>
          <td mat-cell *matCellDef="let row">{{row.Value == 0 || row.ValueForCasinoEmployees == null ? '-' : row.ValueForCasinoEmployees}}</td>
        </ng-container>
    
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
          <td mat-cell *matCellDef="let row" >
            <fa-icon [icon]="faUserTag" *ngIf="row.Type == 2" [matTooltip]="'Valor fijo'" style="color:black; font-size: 17.5px; margin-left: 12px;" else elseBlockIconType></fa-icon>
            <span #elseBlockIconType [appCustomerInformationForInvoicing]="row" #status="appCustomerInformationForInvoicing"
              [matTooltip]="status.tooltip"></span>
          </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-mini-fab color="primary" (click)="openUpdateCompanyDialog(row)">
              <span class="material-icons">edit</span>
            </button>
            <button mat-mini-fab type="button" matTooltip="Agregar o modificar información de conexión" (click)="openUpdateOrCreateDatabaseCompanyDialog(row.Id)">
              <fa-icon [icon]="faDatabase"></fa-icon>                   
            </button>
            <button mat-mini-fab color="warn" type="button" matTooltip="Eliminar" matTooltipClass="tooltip-red" (click)="openDeleteCompanyDialog(row.Id)">
              <fa-icon [icon]="faTimes"></fa-icon>                   
            </button>
          </td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
  
</div>
