.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  position: relative; right: 30.5%
}

.mat-column-name {
  justify-content: right;
  flex: 0 0 90%;
}

.mat-column-actions {
  justify-content: right;
  flex: 0 0 5%;
}
